<h2>Date</h2>
<form id="date_time_range_filter" action="<%= preservation.events_url %>">
  <label>From</label>
  <input name="after" value="<%= params['after'] %>" />
  <label>To</label>
  <input name="before" value="<%= params['before'] %>" />

  <!-- TODO: This logic needs to be replicated for all filter forms. Better in a helper method? -->
  <% Rack::Utils.parse_query(request.query_string).except("after", "before").each do |param, val| %>
    <% # Sometimes `val` may be an array, but not always. So we just array-ify
       # it here to cover both cases. %>
    <% Array(val).each do |single_val| %>
      <input type="hidden" name="<%= param %>" value="<%= single_val %>" />
    <% end %>
  <% end %>

  <button type="submit">Submit</button>
</form>