<h2>PREMIS Event Type</h2>
<form id="premis_event_type_filter" action="<%= preservation.events_url %>">
  <% Preservation::Event.premis_event_types.each do |premis_event_type| %>
    <input type="checkbox" id="premis_event_type_<%= premis_event_type.abbr %>" name="premis_event_type[]" value="<%= premis_event_type.abbr %>" <%= Array(request.params['premis_event_type']).include?(premis_event_type.abbr) ? 'checked="checked"' : '' %>/>
    <label for="premis_event_type_<%= premis_event_type.abbr %>"><%= premis_event_type.label.sub(/^PREMIS/ , '') %></label>
  <% end %>

  <!-- TODO: This logic needs to be replicated for all filter forms. Better in a helper method? -->
  <% Rack::Utils.parse_query(request.query_string).except("premis_event_type[]").each do |param, val| %>
    <% # Sometimes `val` may be an array, but not always. So we just array-ify
       # it here to cover both cases. %>
    <% Array(val).each do |single_val| %>
      <input type="hidden" name="<%= param %>" value="<%= single_val %>" />
    <% end %>
  <% end %>

  <button type="submit">Submit</button>
</form>